.sidebar {
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1a1a1a; /* Dark background */
    padding: 25px 15px;
    color: #e0e0e0; /* Light text color */
}

.sidebar img {
    width: 20px;
}

.sidebar .menu {
    display: block;
    margin-left: 10px;
    cursor: pointer;
    filter: invert(100%);

}

.sidebar .new-chat {
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #333333; /* Dark background for the button */
    border-radius: 50px;
    font-size: 14px;
    color: #e0e0e0; /* Light text color */
    cursor: pointer;
    
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
    animation: fadeIn 2s;
}

.sidebar .recent-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #e0e0e0; /* Light text color */
}

.sidebar .recent-entry {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    background-color: #333333; /* Dark background for entries */
    color: #e0e0e0; /* Light text color */
    cursor: pointer;
}

.sidebar .recent-entry:hover {
    background-color: #444444; /* Slightly lighter dark color */
    align-items: center;
}

.sidebar .bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    align-items: flex-start;

   
    
}

.sidebar .bottom-item {
    padding-right: 10px;
    cursor: pointer;
    color: #e0e0e0; /* Light text color */
   
    
}

@media (max-width: 600px) {
    .sidebar {
        display: none;
    }
}

/* Optional: Adding a keyframe animation for fadeIn effect */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
